.main .block-container {
    padding-top: 0rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0rem;
}

#quickreadai {
    /* color: rgb(75, 75, 255); */
    color: purple;
    font-size: 3rem;
    /* text-align: center; */
    font-weight: 800;
    padding-right: 1rem;
    padding-left: 1rem;
    /* margin-right: 2rem; */
    /* margin-left: -3rem; */
}

#select-a-book {
    /* color: rgb(75, 75, 255); */
    color: gray;
    font-size: 2rem;
    font-weight: 100;
}

#author,
#genre {
    color: gray;

}

#twitter-link a {
    color: orangered;
    text-decoration: none;
}

/* footer {
    visibility: hidden;
} */

/* #MainMenu {
    visibility: hidden;
} */

/* h1 {
    color: rgb(75, 75, 255);
} */

footer {
    visibility: hidden;
}